div{
width: 300px;
height: 300px;
position: relative;
background-color: rgb(175, 159, 170);
animation-name: example;
animation-duration: 4s;
}

@keyframes example{
    0%   {background-color: rgb(228, 224, 22); left: 0px; top: 0px;}
    25%  {background-color: rgb(157, 231, 19); left: 200px; top: 0px;}
    50%  {background-color: rgb(17, 228, 228); left: 200px; top: 200px;}
    75%  {background-color: rgb(235, 155, 35); left: 0px; top: 200px;}
    100% {background-color: rgb(236, 29, 29); left: 0px; top: 0px;}
}
